html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: blue; /* Old browsers */
    background: linear-gradient( lightblue, deepskyblue);
}

a {
  margin: auto .2em;
  outline: none !important;
  text-decoration: none !important;
}

.btn {
  outline : none !important;
}

.blue-gradient {
  background: blue; /* Old browsers */
  background: linear-gradient( deepskyblue, dodgerblue);
}

.settings {
  margin: 1em auto;
}

#interval_minutes {
  margin:1em auto; 
}

.panel {
  border-radius: 25px;
}
.panel-default {
  margin: 10px auto;
  background: blue; /* Old browsers */
  background: linear-gradient( deepskyblue, dodgerblue);
}
.panel-body {
  padding: 1em 0.2em;
}

.panel-heading {
  background: blue; /* Old browsers */
  background: linear-gradient( deepskyblue, dodgerblue);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#error_message_text {
  color:red;
  margin: auto 1em;
}

.input-well {
  margin:1em auto;
  padding:0 0.5em;
  display: inline-block;
  background-color: deepskyblue;
  box-shadow: 0 0 2px white;
  border-radius: 1em;
}
.input-well a {
  background-color: lightblue;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.text-input {
  width:3em;
  margin: 0.5em auto !important;
  background-color: lightblue;
  border: 1px solid lightgray;
  border-radius: 1em;
  box-shadow: 0 0 4px white;
}
